{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <form method="post">
        {% csrf_token %}
        <h1 class="my-4">{{ title }}</h1>
        <p>{% trans "Are you sure you want to delete" %}
            {% if object.first_name %}
                {{ object.first_name }} {{ object.last_name }}?
            {% else %}
                {{ object.username }}?
            {% endif %}
        </p>
        {% bootstrap_button button_text button_type="submit" button_class="btn-dark" %}
    </form>
</div>
{% endblock %}