
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
    <title>{% trans "Task-manager" %}</title>
{% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="card">
      <div class="card-body p-5 bg-light">
          <div class="display-4">{% trans "Hello from Hexlet!" %}</div>
          <p class="lead">{% trans "Practical programming courses" %}</p>
          <hr>
          <a class="btn btn-lg btn-dark" href="https://ru.hexlet.io">{% trans "Learn more" %}</a>
      </div>
    </div>
</div>
{% endblock %}
