{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}


<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{{ title }}</h1>
  <a class="nav-link" href="{% url 'tasks:create' %}">{% trans "Create task" %}</a>
  <div class="card mb-3">
      <div class="card-body bg-light">
          <form class="form-inline center my-auto" method="get">
              {% csrf_token %}
              {% bootstrap_form filter.form form_group_class="form-group" field_class="ml-2 mr-3"%}
              {% bootstrap_button button_text button_type="submit" button_class="btn-dark" %}
          </form>
      </div>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans "Name" %}</th>
        <th scope="col">{% trans "Status" %}</th>
        <th scope="col">{% trans "Created by" %}</th>
        <th scope="col">{% trans "Executor" %}</th>
        <th scope="col">{% trans "Created at" %}</th>
        <th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td>
           <a href="{% url 'tasks:viewer' task.id %}">{{ task.name }}</a>
        </td>
        <td>{{ task.status }}</td>
        <td>{{ task.created_by }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.created_at|date:"d.m.Y, H:i" }}</td>
        <td>
          <a href="{% url 'tasks:change' task.id %}">{% trans "Change" %}</a>
          <br>
          <a href="{% url 'tasks:delete' task.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}